a {
  transition: all .3s;
}

body {
  font-family: "OpenSans", Helvetica, sans-serif;
  font-weight: 400;
  color: @color-gray-blue;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 23px;
}

