@font-face {
  font-family: "OpenSans";
  src: url('/fonts/opensans-light-webfont.eot');
  src: url('/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-light-webfont.woff') format('woff'),
  url('/fonts/opensans-light-webfont.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: "OpenSans";
  src: url('/fonts/opensans-regular-webfont.eot');
  src: url('/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/opensans-regular-webfont.woff') format('woff'),
  url('/fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight: 400;
}