@color-white: #fff;
@color-black: #000;
@color-white-alpha: rgba(255,255,255,0.75);
@color-green-blue: #3cc0b7;
@color-gray-blue: #68757e;
@color-dark-gray-blue: #5a5a5a;
@color-gray: #5a5a5a;
@color-light-gray-blue: #f7f8f9;
@color-light-gray: #eef0f2;
@color-light-green: #cdd6dc;
/*@media*/
@tablet: ~"screen and (max-width: 720px)";

