.about {
  background-color: @color-white;

  &__text {
    padding: 73px 0;
  }

  &__text-title {
    text-align: center;
    font-size: 45px;
    font-weight: 200;
  }

  &__text-body {
    margin: 0 auto;
    margin-top: 34px;
    max-width: 1111px;
    text-align: center;
    font-size: 17px;
    line-height: 30px;
  }

  &__slides {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
    max-width: 1000px;
  }

  &__slides-item {
    display: inline-block;
  }

  &__slides-iphone {
    display: inline-block;
    height: 492px;
    width: 240px;
    margin: 0 38px;

    &_first {
      background: url("/images/about/iPhone-1.png") no-repeat;
    }

    &_second {
      background: url("/images/about/iPhone-2.png") no-repeat;
    }

    &_third {
      background: url("/images/about/iPhone-3.png") no-repeat;
    }
  }

  &__slides-arrow {
    display: inline-block;
    height: 65px;
    width: 35px;
    margin: 211px 0;
    background: url("/images/about/slider-arrow.svg") no-repeat;
  }

  @media @tablet {

    &__slides {
      max-width: 300px
    }

    &__slides-arrow {
      display: none;
    }

    &__slides-iphone {
      margin-top: 20px;
    }
  }
}