.banner {
  height: 620px;
  width: 100%;
  background: url("/images/banner/main-background.jpg") no-repeat center center;
  background-size: cover;

  &__content {
    float: right;
    width: 450px;
    text-align: center;
    margin-top: 140px;
    margin-right: 126px;
  }

  &__content-title {
    font-size: 51px;
    font-weight: 200;
    line-height: 64px;
  }

  &__content-body {
    margin-top: 203px;
    font-size: 18px;
  }

  &__body-text {
    font-size: 18px;
  }

  &__body-ico {
    display: inline-block;
    height: 60px;
    width: 58px;
    margin: 20px 10px;
  }

  &__body-ico_app-store {
    background: url("/images/banner/app-store.svg") no-repeat;

    &:hover {
      background: url("/images/banner/app-store-green.svg") no-repeat;
    }
  }

  &__body-ico_play-market {
    background: url("/images/banner/play-market.svg") no-repeat;

    &:hover {
      background: url("/images/banner/play-market-green.svg") no-repeat;
    }
  }

  &__body-ico_blackberry {
      background: url("/images/banner/blackberry.svg") no-repeat;

      &:hover {
        background: url("/images/banner/blackberry-green.svg") no-repeat;
      }
    }

  @media @tablet {
    background-position: -910px 0px;

    &__content {
      float: none;
      margin: 0 auto;
      padding-top: 140px;
      width: 100%;
    }
  }
}