.footer {
  background-color: @color-light-gray-blue;

  &__top {
    min-height: 80px;
  }

  &__menu {
    display: inline-block;
    padding: 27px 0;
  }

  &__menu-item {
    color: @color-gray-blue;
    font-size: 18px;
    text-decoration: none;

    &::before {
      content: '|';
      padding-right: 14px;
      padding-left: 14px
    }

    &:first-child:before {
      content: '';
    }
  }

  &__social {
    float: right;
    padding: 16px 0;
  }

  &__social-icon {
    display: inline-block;
    height: 47px;
    width: 47px;
    margin-left: 16px;

    &_facebook {
      background: url("/images/footer/facebook.svg") no-repeat right;

      &:hover {
        background: url("/images/footer/facebook-green.svg") no-repeat;
      }
    }

    &_google-plus {
      background: url("/images/footer/google-plus.svg") no-repeat right;

      &:hover {
        background: url("/images/footer/google-plus-green.svg") no-repeat;
      }
    }

    &_twitter {
      background: url("/images/footer/twitter.svg") no-repeat right;
    }
  }

  &__copyright {
    background-color: @color-light-gray;
    height: 75px;
  }

  &__copyright-text {
    text-align: center;
    font-size: 17px;
    padding-top: 29px;
  }

  @media @tablet {

    &__top {
      text-align: center;
    }

    &__social {
      float: none;
      text-align: center;
    }

  }
}

