.header {
  position: absolute;
  background: @color-white;
  background: @color-white-alpha;
  height: 68px;
  width: 100%;
  color: @color-dark-gray-blue;

  &__logo {
    display: inline-block;
    width: 160px;
    height: 36px;
    background: url('/images/header/logo.svg') no-repeat;
    background-size: contain;
    margin-top: 16px;
  }

  &__right {
    float: right;
  }

  &__support-link {
    border-radius: 5px;
    border: 1px solid @color-light-green;
    background-color: @color-white;
    padding: 8px 26px;
    margin-right: 25px;
    font-size: 18px;
    color: @color-dark-gray-blue;
    text-decoration: none;
  }

  &__lang {
    display: inline-block;

    &_opened {

      .header__lang-switcher {
        background-color: @color-green-blue;
        color: @color-white;
      }

      .header__lang-switcher-caret {
        background: url('/images/header/lang-arrow-white.svg') no-repeat right;
      }

      .header__lang-list {
        display: block;
      }
    }
  }

  &__lang-switcher {
    padding: 25px 23px;
    background-color: @color-white-alpha;
    cursor: pointer;
  }

  &__lang-switcher-caret {
    display: inline-block;
    background: url('/images/header/lang-arrow.svg') no-repeat right;
    vertical-align: middle;
    height: 7px;
    width: 7px;
    margin-left: 4px;
    margin-top: -3px;
    margin-right: -4px;
  }

  &__lang-list {
    display: none;
    position: absolute;
    margin-top: 10px;
    background-color: @color-white;
    border-radius: 3px;
  }

  &__lang-item {
    display: block;
    color: @color-black;
    padding: 12px 26px;
    text-decoration: none;
    position: relative;

    &:hover {
      border-radius: 3px;
      background-color: @color-light-gray-blue;
    }

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
      border-top: 1px solid @color-light-green;
      content: "";
    }

    &:first-child:before {
      width: 0;
    }
  }

  @media @tablet {
    &__support-link {
      display: none;
    }

    &__support-link-icon {
      float: left;
      height: 60px;
      width: 58px;
      margin-top: 4px;
      margin-right: 25px;
      background: url("/images/header/help.svg") no-repeat;

      &:hover {
        background: url("/images/header/help-hover.svg") no-repeat;
      }
    }
  }
}