.about
    .container
        .about__text
            .about__text-title Быстрый контроль бюджета
            .about__text-body Принцип восприятия непредвзято создает паллиативный интеллект, условно. Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм. Смысл жизни профанирует принцип восприятия, отрицая очевидное.
        .about__slides
            .about__slides-item
                .about__slides-iphone.about__slides-iphone_first
                .about__slides-arrow
            .about__slides-item
                .about__slides-iphone.about__slides-iphone_second
                .about__slides-arrow
            .about__slides-item
                .about__slides-iphone.about__slides-iphone_third
                .about__slides-arrow





