.banner
    .container
        .banner__content
            .banner__content-title Семейный бюджет это легко
            .banner__content-body
                .banner__body-text Загрузить
                .banner__body-icons
                    a.banner__body-ico.banner__body-ico_app-store(href='#')
                    a.banner__body-ico.banner__body-ico_play-market(href='#')
                    a.banner__body-ico.banner__body-ico_app-store(href='#')
                    a.banner__body-ico.banner__body-ico_blackberry(href='#')