.footer
    .footer__top
        .container
            .footer__menu
                a.footer__menu-item(href="#") Помощь
                a.footer__menu-item(href="#") Пользовательское соглашение
            .footer__social
                a.footer__social-icon.footer__social-icon_facebook(href='#')
                a.footer__social-icon.footer__social-icon_google-plus(href='#')
                a.footer__social-icon.footer__social-icon_twitter(href='#')
    .footer__copyright
        .footer__copyright-text © 2015 Все права защищены www.hbudget.com


