title Hbudget
meta(name="description", content="")
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
link(rel="shortcut icon", href="images/favicon/favicon.ico", type="image/x-icon")
link(type="text/css", rel="stylesheet", href="css/main.css")