.header
    .container
        .header__logo
        .header__right
            a.header__support-link(href='#') Поддержка
            a.header__support-link-icon(href='#')
            .header__lang
                .header__lang-switcher.js-show-lang EN
                    span.header__lang-switcher-caret
                .header__lang-list
                    a.header__lang-item(href="#ru") RU
                    a.header__lang-item(href="#en") EN