doctype html
html(lang="en")
    head
        include includes/head
    body
        include includes/header
        include includes/banner
        include includes/about
        include includes/footer
        script(src="js/main.js")